<!DOCTYPE html>
<html lang="en" ng-app="devSetup">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>devSetup</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">



    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
    <script src="index.js"></script>

</head>

<body ng-controller="devSetupCtrl">

    <div class="main">
        <div class="canto-esquerdo">

            <div class="slide-bar-top">
                <div class="slide-bar-img "> <img src="logo.png" alt=""></div>
                <div class="slide-bar-contet">
                    <div>
                        <h6>Setup Hub</h6>
                        <p>Seu setup aqui</p>
                    </div>
                </div>
            </div>

            <div class="slider-bar-middle">
                <p>Periferico</p>
                <p>categorias</p>
                <p>favoritos</p>
                <p>estaticas</p>
                <p>confuracoes</p>

            </div>
        </div>
        <div class="conteudo-meio">
            <div class="content-midlle-container">
                <div class="content-top">
                    <h1>Dev Setup</h1>
                    <p>setup setup setups</p>
                </div>
                <div class="content-input">
                    <input type="text" placeholder="Buscar periferico" class="input-group" />
                    <input type="checkbox" class="input-theme" />
                </div>

            </div>
            <div class="conteudo">
                <thead>
                    <div class="lista-depedidos-top">
                        <div class="lista-img">
                            <img src="perifericos.png" alt="">
                        </div>
                        <div class="lista-depedidos-low">
                            <h6>Lista de Perifericos</h6>
                            <p>Todos seus equipamentos organizados</p>

                        </div>

                    </div>

                    <div class="input-conteudo">
                        <input type="text" placeholder="Pesquisar perifericos" class="input-group" />
                    </div>

                    <table>
                        <tr>
                            <th>Perifericos</th>
                            <th>Preço</th>
                            <th>Link</th>
                            <th>Ações</th>
                        </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in items" ng-class="{selecionado: item.selecionado}">
                        <td>{{item.nome}}</td>
                        <td>{{item.preco}}</td>
                        <td>{{item.link}}</td>
                        <td><input type="checkbox" ng-model="item.selecionado" /></td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>

</body>

</html>