* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.canto-esquerdo {
    background-color: #050816;
    width: 240px;
    height: 1080px;
    display: flex;
    border-right: solid 1px #FFFFFF14;
}

.canto-esquerdo h4 {
    font-size: 18px;
}

.slide-bar-top {
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 100%;
    border-bottom: solid 2px #FFFFFF14;
    align-items: center;
    justify-content: center;
}

.slide-bar-img img {
    width: 23px;
    height: 23px;
}


.slide-bar-img {
    background-color: #7C5CFF;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 4px;
}

.slide-bar-contet {
    background-color: green;
    height: 45px;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.slide-bar-contet h6,
.slide-bar-contet p {
    margin: 0;
}

/* .asside-nav-left img {
    width: 23px;
    height: 23px;
} */

/* .asside-join {
    background-color: #7C5CFF;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 4px;
} */

.left-main {
    display: flex;
    flex-direction: row;
}


.main {
    display: flex;
    background: linear-gradient(90deg, #050816, #071126, #08152E);
    color: #FCFAFC;
    width: 100%;
    height: 100%;
}

.conteudo {
    padding-top: 22px;
    background-color: #050A16;
    min-width: 400px;
    min-height: 300px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    border-radius: 6px;
    border: solid 1px #FFFFFF14;
}



.table td {
    background-color: #0B0B0D !important;
    color: white !important;
}

table th {
    background-color: #0B0B0D !important;
    color: white !important;
}

.selecionado td {
    background-color: teal !important;
}