* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Inter", sans-serif;
}

.canto-esquerdo {
    background-color: #050A15;
    width: 240px;
    height: 1080px;
    display: flex;
    border-right: solid 1px #FFFFFF14;
}

.canto-esquerdo h4 {
    font-size: 18px;
}

.slide-bar-top {
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 100%;
    border-bottom: solid 2px #FFFFFF14;
    align-items: center;
    justify-content: center;
    padding: 12px;
    padding-left: 30px;
}

.slide-bar-img img {
    width: 18px;
    height: 18px;
    align-items: center;
}


.slide-bar-img {
    background-color: #7C5CFF;
    width: 32px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.slide-bar-contet {
    height: 45px;
    width: 100%;
    margin: 0;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding-left: 12px;
}

.slide-bar-contet h6,
.slide-bar-contet p {
    margin: 0;
}



.main {
    display: flex;
    background: #0B101F;
    background-image: radial-gradient(circle at top right, rgba(91, 76, 240, 0.12), transparent 35%);
    color: #FCFAFC;
    width: 100%;
    height: 100%;
}

.conteudo {
    padding-top: 22px;
    background-color: #0E1525;
    min-width: 400px;
    min-height: 300px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    border-radius: 6px;
    border: solid 1px #FFFFFF14;
}



.table td {
    background-color: #0B0B0D !important;
    color: white !important;
}

table th {
    background-color: #0B0B0D !important;
    color: white !important;
}

.selecionado td {
    background-color: teal !important;
}